footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #EAEAEA;
  background-color: white;
}

.footer-block {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
.footer-icons {
  font-size: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.footer-icons__des {
    margin: 5px;
}

@keyframe icons-move {
  0% {
    transform: translateY(0px);
  }
  30%{
    transform: translateY(-10px);
  }
  70%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}

.footer-icons__img {
  width: 30px;
}
footer-icons:hover .footer-icons__img{
  animation: 2s icons-move;
}
